.navcont {
  display: flex;
  justify-content: space-between;
  background-color: #141414;
  border-radius: 12px;
  transition: color 0.4s ease;
}
.navcont img {
  width: 200px;
  margin: 10px 0px;
}

.navcont ul {
  display: flex;
  list-style-type: none;
  gap: 100px;
  margin: 40px 50px;
  font-size: 20px;
}
.navcont a {
  color: #e1e1e1;
  text-decoration: none;
}
.navcont a:hover {
  color: #d4af37;
}
